.materia-top-container {
  display: flex;
  position: relative;
}

.materia-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 129px;
  margin: 9px 8px 8px 8px;
  background: #0c2233;
  position: relative;
}

.materia-container > MateriaPanel {
  flex: 1 1;
}

.materia-container-header {
  width: 100%;
  font-size: 10px;
  text-align: left;
  padding-left: 10px;
  overflow: hidden;
  height: 12px;
}

.materia-container-header > span {
  position: relative;
  display: inline-block;
}

.materia-container-header > span:before,
.materia-container-header > span:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 2px solid;
  width: 592px;
}

.materia-container-header > span:before {
  right: 100%;
}

.materia-container-header > span:after {
  left: 100%;
}

.materia-selection-container {
  position: absolute;
  left: 0px;
  z-index: 1;
  background: #065471;
  width: 100%;
  top: -191px;
}
