.eq-select-container {
  width: 100%;
  display: block;
  opacity: 1;
  height: 339px;
  overflow: auto;
  background: #0c2233;

  scrollbar-width: none; /* Firefox Desktop */
}

.eq-select-header {
  position: absolute;
  width: 100%;
  display: inline-flex;
  align-items: center;
  background: #065471;
  height: 46px;

  top: -1px; /* Safari Mobile temp fix */
}

.eq-search-box {
  color: #7c7c7c;
  background: white;
  padding: 0;
  margin: 0 3.7335% 0 2.1335%;
  width: 49.335%;
  height: 28px;
  border: 1px solid #ffc045;
  padding-left: 2.1335%;

  font-family: Trebuchet MS;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.button-sort {
  background: white;
  color: black;
  border-radius: 4px;
  border: none;
  margin-right: 3.735%;
  border-radius: 2px;
  border: 1px solid #ffc045;
  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  width: 10.1335%;
  height: 30px;

  position:relative;
}

.button-filter {
  background: white;
  color: black;
  border-radius: 2px;
  border: 1px solid #ffc045;
  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-right: 8%;
  width: 12.27%;
  height: 30px;
}

.button-sort,
.button-filter {
  padding: 1px 6px 1px 6px;
  cursor: pointer;
}

.button-close {
  color: #ffc045;
  font-size: 25px;
  background: #065471;
  border: none;
  font-weight: bold;
  height: 30px;
  flex: 1;
  line-height: 15px;

  cursor: pointer;

  padding-bottom: 5px;

  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* button shifting right onClick */
/* .button-close:active {
  padding: 0px;
} */

.eq-select-content-container {
  margin-top: 46px;
  height: 100%;
}

.eq-icon-container {
  margin: 0 9px 8px 9px;
  background: #08141e;
}

.eq-icon-container > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.eq-icon-container > img,
.eq-icon-weapon > img,
.eq-icon-armor > img {
  width: 38px;
}

.eq-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-content: flex-end;
  justify-content: flex-end;
  justify-items: center;
  width: 100%;
  row-gap: 10px;
}

/* Dropdown sort */
/* .eq-sort-container {
  display: flex;
  flex-direction: column;

  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  position:absolute;
  width: 50px;
  background: white;
  left: 217px;
  top: 11.5%;
} */
/* ------End Dropdown sort */

.eq-sort-container {
display: flex;
margin: 0 9px 8px 9px;
background: #08141e;

font-family: Trebuchet MS;
font-style: normal;
font-weight: normal;
font-size: 12px;
}

.eq-sort-orderby {
  background: white;
  /* color: #ffc045; */
  border: .1px solid #ffc045;
}

.eq-sort-stat-container {
  background: white;
}

.eq-select-outline {
  /* outline: 2px solid red !important; */
  /* outline: 2px solid #ffc045 !important; */
  outline: 2px solid #065471 !important;
}