.equipment-panel-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0 , 1fr));
    /* grid-template-columns: repeat(5, 1fr); */
    /* grid-auto-rows: minmax(0, 1fr); */
    grid-template-rows: repeat(3, minmax(0, 1fr));

    height: 9.5vh;
    /* width: 50vw; */
    /* border-style: solid;
    border-color: red;
    border-width: 1px; */
}

.eq-name {
    grid-column: 1 /  3;
    grid-row: 1;

    border-style: solid;
    border-width: 1px;
    border-color: black;
    /* font-size: 10px; */
    font-size: 2.5vw;
}

.eq-class {
    grid-column: 3;
    grid-row: 1;

    /* copied from eq-element */
    display: flex;
    justify-content: center;
}

/* .eq-class > img {
    max-height: 100%;
    max-width: 100%;

    margin: 100px;
} */

.eq-stat {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
}

.eq-img {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    display: flex;

    justify-content: center;
}

.eq-img > img {
    max-height: 100%;

    border-style: solid; /*Remove later */
    border-width: 1px;
    border-color: yellow;
}

.eq-element {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    justify-content: center;

}

.eq-elemnt > img {
    max-height: 100%;
    max-width: 100%;

    margin: 100px;
}

.eq-handle {
    grid-column: 3;
    grid-row: 3;
}

.eq-enhancement {
    grid-column: 4 / 6;
    grid-row: 3;
}

.equipment-panel-container > * {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}