.equipment-top-container {
  display: flex;
  position: relative;
}

.equipment-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 191px;
  width: 100%;
  margin: 0 8px 0 8px;
  background: #0c2233;
}

.equipment-container > div {
  text-align: left;
}

.equipment-container > div > div:nth-child(1) {
  color: white;
  font-size: 7px;
  display: flex;
}

.equipment-selection-container {
  position: absolute;
  left: 0px;
  z-index: 1;
  background: #065471;
  width: 100%;

  /* width: 50px;
  height: 50px; */
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.slide-in {
  animation: slide-in 0.3s forwards;
  -webkit-animation: slide-in 0.3s forwards;
}

.slide-out {
  animation: slide-out 0.3s forwards;
  -webkit-animation: slide-out 0.3s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
