.equipment-top-container {
    display: flex;
}

.equipment-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* height: 20.5vh; */
    /* height: 22.5vh; */
    /* width: 95vw; */
    /* border-top: 1px solid lightblue; */
}


.equipment-container > div {
    /* flex: 1 1; */
}

.equipment-container > div  {
    /* width: 100%; */
    /* width: 45vw; */
    text-align: left;
}


.equipment-container > div > div:nth-child(1) {
    padding-left: 5px;
    color: white;
    font-size: 7px;
    display: flex;
}

/* --------------------Old (works)---------------- */
/* .equipment-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
} */



.equipment-selection-container {
    position: absolute;
    left: 0px;
    /* top: 35vh; */
    z-index: 1;
    background-color: grey;
    /* width: 90%; */
    /* opacity: .5; */
}