.unit-name { grid-area: unit-name; }
.unit-stat { grid-area: unit-stat; }
.unit-img { grid-area: unit-img; }
.unit-weapon-type { grid-area: unit-weapon; }
.unit-killer { grid-area: unit-killer; }
.unit-ailment { grid-area: unit-ailment; }
.unit-element { grid-area: unit-element; }

.unit-info-container {
    /* border-color: yellow; */
    /* border-style: solid; */
    display: grid;
    height: 25vh;
    grid-gap: 0px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-areas:
        'unit-name unit-stat unit-stat unit-stat unit-stat'
        'unit-img unit-stat unit-stat unit-stat unit-stat'
        'unit-img unit-weapon unit-weapon unit-weapon unit-weapon'
        'unit-ailment unit-ailment unit-killer unit-killer unit-killer'
        'unit-element unit-element unit-killer unit-killer unit-killer';
}

.unit-name {
    font-size: 4vw;
    /* justify-items: center; */
}

.unit-info-container > * {
    /* border-color: black; */
    border-style: solid;
    border-width: 1px;
}

.unit-img {
    display: flex;
}

.unit-img > img {
    /* display: block; */
    /* max-width: 100%;
    max-height: 100%; */
    /* object-fit: contain; */
    /* justify-content: center;    */

    max-height: 100%;

    border-style: solid;
    border-width: 1px;
    border-color: yellow;

    margin-left: auto;
    margin-right: auto;
}

.unit-stat {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* justify-self: center; */
}

.unit-stat > ul {
    /* display: grid;
    grid: auto-flow / auto 1fr; */
    padding: 0;
    margin: 0;
    justify-self: start;
    font-size: 2.1vh;
}

.unit-weapon-type > ul {
    /* display: grid;
    grid: auto-flow / auto 1fr; */
    padding: 0;
    margin: 0;
    font-size: 1.6vh;
    /* justify-content: center; */
}

.unit-weapon-type {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(2, minmax(0, 1fr));
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    /* grid-template-rows: repeat(2, minmax(0, 1fr)); */
    /* overflow: hidden; Fix and remove later */
    justify-items: start;
}

.unit-ailment {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    /* background-color: lightblue; */
    
    /* border-style: solid;
    border-width: 1px;
    border-color: red; */
}

.unit-ailment > img {
    max-width: 100%;
    max-height: 100%;
    /* object-fit: contain; */
    border-style: solid;
    border-width: 1px;
    border-color: black;
    justify-self: center;
}

.unit-ailment > div {
    /* max-width: 100%; */
    font-size: 2.9vw;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    justify-self: start;
}

.unit-element {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.unit-element > img {
    max-width: 100%;
    max-height: 100%;
    /* object-fit: contain; */
    border-style: solid;
    border-width: 1px;
    border-color: black;
    justify-self: center;
}

.unit-element > div {
    /* max-width: 100%; */
    font-size: 2.9vw;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    justify-self: start;
}

/* --------------------------New Design----------------------------------- */
.new-unit-info-container {
    border: .1px solid white;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.new-unit-name {
    float: left;
    width: 90%;
    text-align: left;
    border: .1px solid red;
}

.new-unit-more-info {
    /* float: right; */
    /* width: 100%; */
    flex: 1;

    background: black;
    color: white;
    border-radius: 4px;
    border: none;
    /* margin-left: 4px; */
    font-size: 12px;
    /* height: 17px; */
}

.new-unit-stat-general-container {
    /* width: 70%; */
    width: 69%;
    border: .1px solid blue;
    /* height: 15vh; */
    /* height: 11.25vh; */
    display: flex;
    flex-wrap: wrap;
    /* align-content: flex-start; */
    
}

.new-unit-stat-general-container > div {
    border: .1px solid black;
    text-align: left;
    width: 49.8%;

    /* height: 33%; */
    font-size: 15px;
    display: inline-flex;

    /* border: .1px solid white; */
    justify-content: center;
    /* align-items: flex-start; */
    font-size: 15px;
    flex-wrap: wrap;
    align-items: center;
}

/* .new-unit-stat-general-container > div > div {
    border: .1px solid blue;
} */

.new-unit-stat-general-container > div > div:nth-child(1)
/* .new-unit-stat-general-container > div > div:nth-child(2), */
/* .new-unit-stat-general-container > div > div:nth-child(3)  */
{
    width: 29%;
    /* display: flex; */
    /* align-items: flex-start; */
}

.new-unit-stat-general-container > div > div:nth-child(2) {
    color: white;
    text-align: right;
    width: 33%;
    /* border: .1px solid black; */
}

.new-unit-stat-general-container > div > div:nth-child(3) {
    width: 35%;
    color: pink;
    text-align: left;
    font-size: 12px;
}

.new-unit-stat-general-container > div > div:nth-child(4) {
    width: 63%;
    text-align: right;
    color: white;
    margin-right: 2px;
    /* border: .1px solid black; */
}

.new-unit-stat-general-container > div > div:nth-child(5) {
    width: 35%;
    text-align: left;
    color: lightgreen;
}

.new-unit-stat-general-container > div > div:nth-child(4),
.new-unit-stat-general-container > div > div:nth-child(5) {
    font-size: 10px;
}

.new-unit-stat-esper-container {
    width: 30%;
    border: .1px solid lightblue;
}

.new-unit-stat-br-container {
    width: 49%;
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    border: .1px solid red;
}

.new-unit-stat-br-killer-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.new-unit-stat-br-killer-header {
    display: inline-flex;
    font-size: 12px;
    /* justify-content: space-between; */
}

.new-unit-stat-br-killer-header > div:nth-child(1) {
    color: white;
    width: 20%;
    text-align: left;
}

.new-unit-stat-br-killer-header > div:nth-child(2) {
    color: white;
    width: 40%;
    text-align: center;
}

.new-unit-stat-br-killer-header > div:nth-child(3) {
    color: white;
    width: 40%;
    text-align: center;
}

.new-unit-stat-br-killer-header > div {
    border: .1px solid black;
}

.new-unit-stat-br-killer {
    display: inline-flex;
    font-size: 12px;
    /* justify-content: space-between; */
    
}

.new-unit-stat-br-killer > div {
    /* border: .1px solid black; */
    border-bottom: .1px solid black;
}

/* .new-unit-stat-br-killer > div {
    display: flex;
    width: 30%;
} */

.new-unit-stat-br-killer-type {
    display: flex;
    width: 25%;
}

.new-unit-stat-br-killer-physical, 
.new-unit-stat-br-killer-magic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    color: white;
    text-align: right;
}

.new-unit-stat-br-killer-physical-change,
.new-unit-stat-br-killer-magic-change {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    font-size: 10px;
    color: pink;
}




/* .new-unit-stat-td-container:not(.new-unit-stat-td-header) { */
.new-unit-stat-br-td-container{
    display: flex;
    flex-direction: column;
    border: .1px solid yellow;
    /* flex: 1 1 25%; */
    /* width: 29%; */
    /* font-size: 10px; */
    /* color: white; */
    font-size: 12px;
}

.new-unit-stat-br-td-header {
    font-size: 12px;
    display: inline-flex;
    justify-content: space-evenly;
    color: white;
}

/* .new-unit-stat-br-td-container :not(.new-unit-stat-br-td-header) { 
    color: white;
    font-size: 11px;
    text-align: left;
} */

.new-unit-stat-br-td-stat {
    display: inline-flex;
    
}

.new-unit-stat-br-td-stat-type {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;
}

.new-unit-stat-br-td-stat-total {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.new-unit-stat-br-td-stat-change {
    width: 30%;
    text-align: left;
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: skyblue;
}




.new-unit-stat-resist {
    width: 50%;
    border: .1px solid red;
}


.new-unit-stat-resist-ailment-wrapper {
    display: inline-grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.new-unit-stat-resist-ailment-wrapper > img { 
    max-width: 100%;
    object-fit: contain;
    min-width: 0;
    border: .1px solid yellow;
    background-color: blue;
}

.new-unit-stat-resist-ailment-wrapper > div {
    border: .1px solid black;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}



.new-unit-stat-resist-element-wrapper{
    display: inline-grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.new-unit-stat-resist-element-wrapper > img {
    max-width: 100%;
    object-fit: contain;
    min-width: 0;
    border: .1px solid yellow;
    background-color: blue;
}

.new-unit-stat-resist-element-wrapper > div {
    border: .1px solid black;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

