.unit-name { grid-area: unit-name; }
.unit-stat { grid-area: unit-stat; }
.unit-img { grid-area: unit-img; }
.unit-weapon-type { grid-area: unit-weapon; }
.unit-killer { grid-area: unit-killer; }
.unit-ailment { grid-area: unit-ailment; }
.unit-element { grid-area: unit-element; }

.unit-info-container {
    /* border-color: yellow; */
    /* border-style: solid; */
    display: grid;
    height: 25vh;
    grid-gap: 0px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-areas:
        'unit-name unit-stat unit-stat unit-stat unit-stat'
        'unit-img unit-stat unit-stat unit-stat unit-stat'
        'unit-img unit-weapon unit-weapon unit-weapon unit-weapon'
        'unit-ailment unit-ailment unit-killer unit-killer unit-killer'
        'unit-element unit-element unit-killer unit-killer unit-killer';
}

.unit-name {
    font-size: 4vw;
    /* justify-items: center; */
}

.unit-info-container > * {
    /* border-color: black; */
    border-style: solid;
    border-width: 1px;
}

.unit-img {
    display: flex;
}

.unit-img > img {
    /* display: block; */
    /* max-width: 100%;
    max-height: 100%; */
    /* object-fit: contain; */
    /* justify-content: center;    */

    max-height: 100%;

    border-style: solid;
    border-width: 1px;
    border-color: yellow;

    margin-left: auto;
    margin-right: auto;
}

.unit-stat {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* justify-self: center; */
}

.unit-stat > ul {
    /* display: grid;
    grid: auto-flow / auto 1fr; */
    padding: 0;
    margin: 0;
    justify-self: start;
    font-size: 2.1vh;
}

.unit-weapon-type > ul {
    /* display: grid;
    grid: auto-flow / auto 1fr; */
    padding: 0;
    margin: 0;
    font-size: 1.6vh;
    /* justify-content: center; */
}

.unit-weapon-type {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(2, minmax(0, 1fr));
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    /* grid-template-rows: repeat(2, minmax(0, 1fr)); */
    /* overflow: hidden; Fix and remove later */
    justify-items: start;
}

.unit-ailment {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    /* background-color: lightblue; */
    
    /* border-style: solid;
    border-width: 1px;
    border-color: red; */
}

.unit-ailment > img {
    max-width: 100%;
    max-height: 100%;
    /* object-fit: contain; */
    border-style: solid;
    border-width: 1px;
    border-color: black;
    justify-self: center;
}

.unit-ailment > div {
    /* max-width: 100%; */
    font-size: 2.9vw;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    justify-self: start;
}

.unit-element {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.unit-element > img {
    max-width: 100%;
    max-height: 100%;
    /* object-fit: contain; */
    border-style: solid;
    border-width: 1px;
    border-color: black;
    justify-self: center;
}

.unit-element > div {
    /* max-width: 100%; */
    font-size: 2.9vw;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    justify-self: start;
}