.unit-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8px 0 8px;
  padding: 8px 0 8px 0;
  background: #0c2233;
}

.unit-search-box,
.unit-search-box-esper {
  color: #0c2233;
  background: #ffc045;
  border: none;
  text-indent: 5px;
  height: 32px;
  width: 164px;
  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.unit-search-box {
  margin-left: 8px;
}

.unit-search-box-esper {
  margin-right: 8px;
}

.button-browse,
.button-unequip-all {
  background: black;
  color: white;
  border-radius: 4px;
  border: none;
  margin-left: 4px;
  font-size: 12px;
  height: 17px;
}

.unit-search-wrapper,
.unit-search-esper-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-list-container {
  list-style-type: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
  max-height: 570px;
  z-index: 100;
}

.search-list-container .search-list-item {
  text-decoration: none;
  display: block;
  background-color: rgb(20, 20, 20);
  color: white;
  text-align: left;
  width: 147px;
  margin: -0.5px 0 0 8px;
  padding: 4px 12px 4px 5px;
}

.search-list-item {
  font-size: 12px;
}

/*------------------Desktop-------------------------*/
.search-list-item:hover {
  background-color: rgb(117, 117, 117);
}
/*--------------------------------------------------*/
