.search-box {
    color: white;
    padding-right: 10px;
    /* background: linear-gradient(89deg, rgb(94, 105, 255) 0%, #04C8DE 100%); */
    /* background: linear-gradient(89deg, rgb(78, 103, 216) 0%, rgb(21, 132, 145) 100%); */
    background: black;
    border: none;
    margin-right: 5px;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

.button-browse {
    background: black;
    color: white;
    border-radius: 4px;
    border: none;
}